<h1>Contact</h1>

<h2>Streets</h2>
<ul>
  <% @streets.each do |street| %>
    <li><%= street %></li>
  <% end %>
</ul>

<h2>Cities</h2>
  <% @cities.each do |city| %>
    <li><%= city %></li>
  <% end %>

<h2>Names</h2>

<% @names.each do |name| %>
    <li><%= name %></li>
<% end %>